<div class='title'>
  このアプリは、転職する時に行う必要がある手続きを管理してくれるアプリケーションです。
  <div>
    このアプリ一つで、転職に必要な手続きや、転職までに必要な費用の見積もりをしてくれます。
  </div>
  <div>
    早速下記リンクをクリックして、必要な手続きと費用の計算をしよう！！
  </div>
  <div>
    <%= link_to '作成する', new_cost_path, class:"new-btn" %>
  </div>
</div>